.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 300px);
    gap: 10px; /* Adjust the gap as needed */
    justify-content: center;
    align-content: center;
    height: 100vh; /* Make sure the container covers the full height of the viewport */
  }
  
  

  .middle-button {
    height: 100%;
    width: 100%;
    background: #c70039;
    border: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 2em;
    font-family: 'Helvetica Neue', sans-serif; /* Use your preferred modern font */
    cursor: pointer;
  }
  
  .middle-button:hover {
    background: #91052d;
  }